

.skillContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 91vh;
    margin: 200px 0;
}
.skillContainer_text{
    color: white;
    flex: 0.6;
    text-align: left;
    max-width: 300px;
    margin-bottom: 20px;
}
.skillContainer_text>h2{
    font-size: 30px;
    margin-bottom: 20px;
}
.skillContainer_image{
    flex: 0.4;
    text-align: center;
    margin-right: 100px;
}
.skillContainer_image > img{
    width: 400px;
    border-radius: 3px;
    object-fit: contain;
}
.skillContainer_skillset > h5{
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 10px;
}
.skillContainer_skillset{
    margin-bottom: 20px;
}

.skillContainer_slider > .MuiLinearProgress-colorPrimary{
    background-color: #2b2b2b;
}

.skillContainer_slider1 > div > .MuiLinearProgress-barColorPrimary{
    background-color: rgb(255, 0, 0);
}

.skillContainer_slider2 > div > .MuiLinearProgress-barColorPrimary{
    background-color: yellow;
}

.skillContainer_slider3 > div > .MuiLinearProgress-barColorPrimary{
    background-color: green;
}

@media only screen and (max-width:768px) {
    .skillContainer_image > img{
        width: 200px;
    }
    .skillContainer_text{
        margin-left: -70px;
        max-width: 230px;
        margin-bottom: 20px;
    }
}