.project{
    color: white;
    margin: 15px;
    width: 300px;
    height: 179px;
    transition: transform 100ms ease-in-out;
}
.project:hover{
    color: white;
    background-color: red;
    transform: scale(1.05);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.project > img{
    width: 300px;
    height: 170px;
}
.project_content{
    padding: 10px;
}
.project_content > h4{
    padding-bottom: 5px;
    color: white;
}
.project_content > p{
    width: 280px;
    font-size: 15px;
    color: white;
}
.project_video {
    position: absolute;
    top: 0;
    display: flex;
    z-index: 2;
    color: white;
    margin: 15px;
    width: 300px;
    height: 179px;
    transition: transform 200ms ease-in-out;
}
.project_video > video{
    object-fit: contain;
    transform: scale(1.70);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media only screen and (max-width:768px) {
    .project{
        margin: 10px;
        width: 160px;
        height: 100px;
    }
    .project > img{
        width: 160px;
        height: 100px;
    }
    .project_content > p{
        width: 140px;
        font-size: 8px;
        color: white;
    }
    .project_video > video{
        object-fit: contain;
        transform: scale(1.30);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}
  
